name: CD
on:
  push:
    branches: [main]
    
env:
  S3_BUCKET_NAME: todayex-s3
  PROJECT_NAME: TodayEx

jobs:
  deploy:
    name: Deploy to S3
    runs-on: ubuntu-latest

    
    services:
      mysql:
        image: mysql:latest
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: testdb
          MYSQL_USER: testuser
          MYSQL_PASSWORD: testpassword
        ports:
          - 3306:3306

    env:
      DB_HOST: localhost
      DB_NAME: testdb
      DB_USERNAME: testuser
      DB_PASSWORD: testpassword
    

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Grant execute permission for gradlew
        run: |
          chmod +x gradlew
        shell: bash
        
      - name: Build with Gradle
        run: |
          ./gradlew build
        shell: bash        

      - name: Make zip file
        run: zip -r ./$GITHUB_SHA.zip .
        shell: bash

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      
      # S3에 업로드
      - name: Upload to S3
        run: aws s3 cp --region ap-northeast-2 ./$GITHUB_SHA.zip s3://$S3_BUCKET_NAME/$PROJECT_NAME/$GITHUB_SHA.zip
      
      # Deploy
      - name: Deploy
        run: |
          aws deploy create-deployment \
          --application-name githubaction-test \
          --deployment-config-name CodeDeployDefault.AllAtOnce \
          --deployment-group-name githubaction-test-group \
          --ignore-application-stop-failures \
          --file-exists-behavior OVERWRITE \
          --s3-location bucket=couple-s3,bundleType=zip,key=$PROJECT_NAME/$GITHUB_SHA.zip \
          --region ap-northeast-2 \
